  <div class="card" style="width: 18rem;" id="card">
   <img src="assets/sprites/bulbasaur.png" class="card-img-top" alt="Bulbasaur">
    <div class="card-body">
      <h5 class="card-title">Bulbasaur #001</h5>
      <p class="card-text">Bulbasaur pode ser visto cochilando sob a luz do sol. Há uma semente nas costas. Ao absorver os raios do sol, a semente cresce progressivamente</p>
      <a href="#shinymode" class="btn btn-primary">Shiny mode</a>
      <img id="shinymode" src="assets/sprites/bulbasaurShiny.png">
    </div>
  </div>

  <div class="card" style="width: 18rem;">
   <img src="assets/sprites/charmander.png" class="card-img-top" alt="Charmander">
    <div class="card-body">
      <h5 class="card-title">Charmander #004</h5>
      <p class="card-text">A chama que queima na ponta da cauda é uma indicação de suas emoções. A chama tremula quando Charmander está se divertindo. Se o Pokémon se enfurecer, a chama queima ferozmente.</p>
      <a href="#shinymode" class="btn btn-primary">Shiny mode</a>
      <img id="shinymode" src="assets/sprites/charmanderShiny.png">
    </div>
  </div>

  <div class="card" style="width: 18rem;">
   <img src="assets/sprites/squirtle.png" class="card-img-top" alt="Squirtle">
    <div class="card-body">
      <h5 class="card-title">Squirtle #007</h5>
      <p class="card-text">A concha de Squirtle não é apenas usada para proteção. A forma arredondada da concha e as ranhuras na superfície ajudam a minimizar a resistência na água, permitindo que este Pokémon nade em alta velocidade.</p>
      <a href="#shinymode" class="btn btn-primary">Shiny mode</a>
      <img id="shinymode" src="assets/sprites/squirtleShiny.png">
    </div>
  </div>

