<div class="jumbotron">
  <h2 class="display-4">Olá bem-vindo ao fabuloso mundo dos pokémons</h2>
  <p class="lead">Esse mundo é habitado por criaturas chamdas de Pokémon, pessoas os trata como seus companheiros, ou se usa em batalhas, bem quanto a mim eu amo e estudo os Pokémons.</p>
  <hr class="my-4">
  <p>
    Uma das maiores dúvidas antes de iniciar uma aventura no mundo Pokémon, é qual deve ser o seu "starter", diferente de milhares quizzes por ai, estarei apresentando dados e fatores de qual o melhor inicial para começar sua jornada.</p>
  <a class="btn btn-primary btn-lg" href="#card" role="button">Continue lendo</a>
</div>
